---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% assign talks = site.talks | sort: "date" | reverse %}
<ul class="pubs">
  {% for post in talks %}
    <li class="pub">
      <div class="pub-title">
        {% if post.link %}
          <a href="{{ post.link }}" target="_blank" rel="noopener">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </div>
      {% if post.venue %}
        <div class="pub-authors">{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</div>
      {% endif %}
      {% if post.date %}
        <div class="pub-venue">{{ post.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
      <div class="pub-desc">{{ post.content | markdownify }}</div>
    </li>
  {% endfor %}
</ul>
